{% extends 'layouts/base.html' %}

{% block content %}

<h1>Quienes Somos</h1>
Somos Ingenieros Industriales y Programadores que buscan hacer accecibles sistemas de gestion y planificacion a empresas pequeñas y medianas, utilizados por la gran mayoria de las organizaciones mas grandes a nivel mundial.

<h1>Servicios</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eaque enim porro, nisi debitis sit officia dicta eveniet voluptate fugit corporis explicabo, accusantium ducimus obcaecati eius laudantium, alias facere nam laboriosam. Laudantium excepturi expedita eum error natus distinctio, quae qui iusto omnis vel magni ex eos necessitatibus illum, beatae dolorum deserunt! Dolor saepe vitae laborum officia ipsum veritatis asperiores sint nihil illo, quasi aut blanditiis possimus accusamus nesciunt praesentium minima voluptate aspernatur. Architecto, magnam provident veniam deserunt aut laborum vitae quo repellendus reiciendis deleniti commodi fugiat veritatis officia et maxime cumque debitis nisi doloribus repellat perferendis dicta! Aliquam, perferendis consectetur?

{% endblock %}


