{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<section class="card card-body">
    <h1 class="display-10">Implementacion de Sistemas de Gestion Integrados para PyMEs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo pariatur odio laboriosam voluptatem deserunt totam, impedit officia quo deleniti. Sint incidunt, quae tempora saepe deleniti accusamus at sequi nisi facere!</p>

    <article>
        <h3>Lean Management: La alta rentabilidad como resultado de una gestion de excelencia</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, nam mollitia ducimus in reprehenderit odit, animi quia necessitatibus quibusdam explicabo a non veniam. Maxime molestiae nesciunt repellendus excepturi dignissimos ducimus?</p>
    </article>
    <article>
        <h3>Investigacion Operativa: Las metodologias utilizadas por las mas grandes organizaciones</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quibusdam explicabo consectetur perspiciatis beatae pariatur nisi veritatis. Impedit minus asperiores quae doloribus adipisci, vero laboriosam odit incidunt. Maxime, eos sapiente.</p>
    </article>
</section>

{% endblock %}
