{% extends 'layouts/index_sidebar.html' %}

{% block content %}
    <!-- page content -->
        <div class="right_col" role="main" style="margin-left: 350px;">
          <h1 style="padding: 20px 0px;">Panel General</h1>

          <p>Proyeccion de la Demanda</p>
          <p>Planificacion de la Produccion</p>
          <p>Planificacion de los Materiales</p>
          <p>Gestion de Inventario</p>
          <p>Gestion de la Calidad</p>
          <p>Gestion de la Capacidad</p>
          <p>Evaluacion Economica-Financiera</p>
          <p>Conduccion del Personal</p>
        </div>
        <!-- /page content -->
{% endblock %}